body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100px;
  border-radius: 50%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 10px 0;
}
.form-submit-btn {
  margin: 10px 0;
}
.profile {
  border: 1px solid #ccc;
  padding: 10px;
}
